//Neat told me to put this before importing Neat
@import "base/grid-settings";

//Normalisation, Bourbon mixins, and Neat grid
@import "bower_components/normalize-css/normalize";
@import "bower_components/bourbon/dist/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

// Start of TWS imports
@import "base/variables";
@import "base/gradients";
@import "base/media-queries";
@import "base/typography";
@import "base/enhanced_typography";

// Base & Layout Components
@import "components/header";
@import "components/footer";
@import "components/nav-list";
@import "components/buttons";
@import "components/headers";
@import "components/forms";
@import "components/quotes";

// Block Components
@import "components/cover-photo";
@import "components/copy-section";
@import "components/press-list";

//Blog Import
@import "components/blog/blog";

.wrapper {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.wrapper-content {
  @include flex(1);
}

.container {
  @include outer-container;
  @include box-sizing(border-box);
  @include padding(0 $container-gutter-padding);
}
