//Normalisation, Bourbon mixins, and Neat grid
@import "bower_components/normalize-css/normalize";
@import "bower_components/bourbon/dist/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

// Start of TWS imports
@import "base/variables";
@import "base/media-queries";
@import "base/typography";
@import "base/enhanced_typography";

@import "components/header";
@import "components/footer";
@import "components/nav-list";
@import "components/buttons";
@import "components/cover-photo";
@import "components/copy-section";

//Blog Import
@import "components/blog/blog";

.container {
  @include outer-container;
  @include box-sizing(border-box);
  @include padding(0 $container-gutter-padding);
}
