.copy-section {
  @include media($tablet) {
    @include span-columns(8);
    @include shift(2);
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.copy-section-header {
  padding: 1.0em 0;
  text-align: center;
  font-weight: 300;
  color: #808190;
}

.copy-section-bottom-divider {
  margin-top: 1em;
  font-size: $h1-font-size;
  @include span-columns(12);
  border-bottom: 1px solid lighten(#808190, 30);
}
