@mixin cover-photo($vertical-image, $horizontal-image: null, $gradient: null) {
  $horizontal-image: $vertical-image !default;
  $gradient: linear-gradient(to bottom,
                             rgba($tws-medium-gray, 0),
                             rgba($dark-gray, 20) 100%) !default;

  @include background-image($gradient, $vertical-image);

  @include media($tablet) {
    @include background-image($gradient, $horizontal-image);
  }

  background-position: 50% 50%, 0%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 100%;
}

%vertical-center-flex-container {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(center);
}

%vertical-center-box {
  @include flex(1);
  max-width: 100%;

  @include media($tablet) {
    max-width: 70%;
  }

  @include media($desktop) {
    max-width: 60%;
  }
}

%cover-photo-text {
  color: $tws-white;
  text-shadow: 0px 0px 4px rgba(150, 150, 150, 1);
  margin-bottom: 1em;
}

.cover-photo-lede {
  @extend %cover-photo-text;
  font-weight: 600;
}

.cover-photo-body {
  @extend %cover-photo-text;
  font-size: 1.25em;
}

.cover-photo-cta {
  margin-top: 1.5em;
  @include padding(1em 2.5em);
  width: 70%;
}
