/*

Stylesheet for all things related to presentation of 
dashboard related styles (/profile, /users/edit,
tea_times/new)

*/

.cover-photo.dash {
	padding: 1em 0;
	background: $tws-tan;

	.container {
		position: relative;
	}

	.photo-container {
		margin-bottom: 0;

		@include span-columns(3 of 12);

		.host-photo {
			padding: 0.25em;
			line-height: 0;
		}
	}

	.dash-navigation {
		position: relative;
	}

	.personal-info {
		padding-bottom: 3em;

		.affirmation {
			@extend h6;
		}

	}

	.dash-menu {

	}

	ul.dash-menu-list {
		list-style: none;
		font-size: 0.8em;
		font-weight: 600;
		text-transform: uppercase;

		li {
			display: inline-block;
			padding-right: 1em;
		}

		a {
			color: $tws-white;

			&:hover {

			}
		}
	}

}