/*
All header options in TWS projects.

Any instances of a header that involve greater specificity of styles beyond
what is found in typography.scss should @extend from there.
*/

h1.dark {
	@extend h1;

  font-size: $h1-dark-font-size;
  color: $medium-gray;
  margin-bottom: $base-font-size*1.5;
}

h3.capitalize {
	@extend h3;

	text-transform: uppercase;	
}