header {
  @include clearfix();

  .container {
    $vpadding: 0.8em;
    padding-top: $vpadding;
    padding-bottom: $vpadding;
    border-bottom: 1px solid $light-gray;
  }

  .nav-list {
    @include media($desktop) {
      float: right;
    }
  }
}

.tws-logo-type {
  font-weight: 300;
  text-transform: uppercase;
  color: #333;
  @include media($desktop) { float: left; }
}

.menu-expando {
  float: right;
  line-height: 30px;
  cursor: pointer;

  &:before {
    content: "\2261";
  }

  @include media($desktop) {
    display: none;
  }
}
