header {
  @include clearfix();

  .container {
    $vpadding: 0.25em;
    padding-top: $vpadding;
    padding-bottom: $vpadding;
    border-bottom: 1px solid $light-gray;
  }

  .nav-list {
    @include media($desktop) {
      float: right;
    }
  }
}

.tws-logo-type {
  font-family: "Nanum Pen Script";
  font-size: 1.7em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333;
  @include media($desktop) {
    float: left; 
    line-height: 39px;
  }
}

.menu-expando {
  float: right;
  cursor: pointer;

  &:before {
    content: "\2261";
  }

  @include media($desktop) {
    display: none;
  }
}
