$uncollapse-at: $desktop;

.nav-list {
  @include transition(max-height 1.0s);
  @include padding(0);
  @include margin(0);

  font-family: $proxima-nova;

  overflow: hidden;
  max-height: 0;

  &.open {
    max-height: 600px;
  }

  @include media($uncollapse-at) {
    max-height: none;
  }
}

.nav-links {
  @include padding(0);
  @include margin(0);
}

.nav-link-item {
  font-size: 0.8em;
  list-style-type: none;

  text-transform: uppercase;
  font-weight: 700;
  a { color: $tws-medium-gray; }

  @include media($uncollapse-at) {
    float: left;
    padding-left: $base-font-size;
    line-height: 39px;
  }
}
